.breadcrumb-nav{
  display: none;
}

details{
  background: #EDEFEF; // lighter version of $aqua
  //border: 2px solid $link-color;
  padding: 20px;
}

.nav-list-item{
	font-weight: 500;
}

::-webkit-scrollbar-track {
  background: #636668;
}

::-webkit-scrollbar {
	width: 100px;
}

::-webkit-scrollbar-thumb {
  background: #00DBDB;
  border-radius: 5px;
}
