.breadcrumb-nav{
  display: none;
}

details{
  background: #CBD6D6; // lighter version of $aqua
  //border: 2px solid $link-color;
  padding: 20px;
}

.nav-list-item{
	font-weight: 500;
}

::-webkit-scrollbar-track {
  background: #636668;
}

::-webkit-scrollbar-thumb {
  background: #00DBDB;
}
