$nav-width: 350px;
$header-height: 70px;

$black: #000000;
$white: #ffffff;
$aqua: #00DBDB;
$slate: #606466;

$body-background-color: $white;
$sidebar-color: $slate;
$border-color: $aqua;

$body-text-color: $black;
$body-heading-color: $black;
$nav-child-link-color: $aqua;
$search-result-preview-color: #8bc24a;

$link-color: $aqua;
$btn-primary-color: $aqua;
$base-button-color: #8bc24a;

$code-background-color: #222222;
$details-background-color: #363636;
$search-background-color: #222222;
$table-background-color: #222222;
$feedback-color: darken($sidebar-color, 3%);
