$nav-width: 350px;
$header-height: 70px;

$black: #000000;
$white: #FFFFFF;
$aqua: #00DBDB;
$slate: #636668;
$old-green: #8bc24a;

$body-background-color: $white;
$sidebar-color: $slate;
$border-color: $aqua;

$body-text-color: $black;
$body-heading-color: $black;
$nav-child-link-color: $aqua;
$search-result-preview-color: #AAAAAA;

$link-color: $aqua;
$btn-primary-color: $aqua;
$base-button-color: $aqua; // ???

$code-background-color: #C3D8D8; // lighter version of $aqua
$details-background-color: #CBD6D6; // lighter version of $aqua
$search-background-color: $slate;
$table-background-color: darken($white, 3%);
$feedback-color: darken($sidebar-color, 3%);
