$nav-width: 350px;
$header-height: 70px;


$body-background-color: #0e1e1f;
$sidebar-color: #363636;
$border-color: #3e3e3e;

$body-text-color: #ffffff;
$body-heading-color: #ffffff;
$nav-child-link-color: #8bc24a;
$search-result-preview-color: #8bc24a;

$link-color: #8bc24a;
$btn-primary-color: #8bc24a;
$base-button-color: #8bc24a;

$code-background-color: #222222;
$search-background-color: #222222;
$table-background-color: #222222;
$feedback-color: darken($sidebar-color, 3%);
