<meta name="parent" content="{{ page.parent }}">
<meta name="nav_order" content="{{ page.nav_order }}">
<script>
function setCookieIfReferrer(name, value, referrer){
	if(document.referrer == referrer){
		setCookie(name, value);
		var elem = document.getElementById("failure");
		if(elem != undefined){
			elem.hidden = true;
		}
	}else{
		console.log("Invalid referrer: "+document.referrer);
		var elem = document.getElementById("success");
		if(elem != undefined){
			elem.hidden = true;
		}
	}
}

function setCookie(name,value,days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    console.log(name + "=" + (value || ""));
}

function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0){
          return c.substring(nameEQ.length,c.length);
        }
    }
    return null;
}

function eraseCookie(name) {
    document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    console.log("erase "+name);
}

function isPaywalled() {
    var parent = document.head.querySelector("[name~=parent][content]").content;
    var nav_order = document.head.querySelector("[name~=nav_order][content]").content;
    var is_free = parent == "Pong | Your First Game" || nav_order == "" || (parent == "" && parseInt(nav_order) <= 1);
    var purchased = getCookie("purchased");
    return !is_free && !purchased;
}

function updateGMExperience(){
    var age_diff_ms = Date.now() - new Date(2008, 2, 1);
    var age_date = new Date(age_diff_ms);
    var years_of_gm = Math.abs(age_date.getUTCFullYear() - 1970);
    var yog_element = document.getElementById("years-of-game-maker");
    if(yog_element != undefined){
        yog_element.innerHTML = years_of_gm;
    }
}

function updateReferrer(){
    var ref_element = document.getElementById("referrer");
    if(ref_element != undefined){
        ref_element.innerHTML = document.referrer;
    }
}


function updateDetails(){
    var mainElement = document.getElementById("main-content");
    var detailsElements = mainElement.getElementsByTagName('details');
    for(var i = 0; i < detailsElements.length; i++){
        var summary = document.createElement("summary");
		var data_summary = detailsElements[i].dataset.summary;
		if(data_summary == undefined){
			data_summary = "";
		}
        summary.innerHTML = "<b>" + data_summary + "</b> Click to see";
        detailsElements[i].appendChild(summary);
    }
}

function onLoad(){
	console.log("Referrer: "+document.referrer);
    updateGMExperience();
	updateReferrer();
    updateDetails();
}

function onOpen(){
    if(isPaywalled()){
        window.location.replace("https://arendpeter.github.io/GameMakerGuide/docs/paywall.html");
    }
}

onOpen();

window.onload = onLoad;

</script>
